*
{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.container
{
    /* max-width: 900px; */
    height: 400px;
    margin: 40px auto;
    display: grid;
    /* grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto); */

    grid-template-columns: 20% auto 15%;
    grid-template-rows: 5% auto 5% 5%;
}

header
{
    background-color: tomato;
    grid-column: 1/4;
    grid-row: 1/2;
}
section
{
    background-color: skyblue;
}
main
{
    background-color: bisque;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
}
nav
{
    background-color: aqua;
    display: grid;
    grid-template-rows: repeat(3, auto);
}
.contact-form
{
    background-color: seagreen;
    grid-column: 1/4;
    grid-row: 3/4;
}
footer
{
    background-color: lightblue;
    grid-column: 1/4;
    grid-row: 4/5;
}

/* PRODUCTS*/
.product
{
    background-color: aliceblue;
    border: solid 2px blue;
    padding: 10%;
}
/*REKLAMLAR*/
.reklamlar
{
    background-color: orange;
    margin: 5%;
    padding: 20%;
}